@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');


h1 {
	font-family: 'Raleway', sans-serif;
	width: 500px;
	padding-left:100px;
	color: #244029;
}

#wikilink {
	padding-top: 175px;
	padding-left:100px;
	font-family: 'Raleway', sans-serif;
	color: #244029;
}

.image1 {
	width: 200px;
	height: 215px;
	float: left;
	float: top;
	
}

#section1 {
	font-family: 'Raleway', sans-serif;
	margin-left:100px;
	margin-right: 100px;
	color: #244029;
}

p {
	margin-left:125px;
	margin-right: 125px;
}

a {
	color: #470024;
}

a:visited {
	color:brown;
}



#tableofcontents {
    background: #90BE6D;
    border: 3px solid purple;
    display: table;
    margin-bottom: 3px;
    padding: 20px;
    padding-left: 20px;
}



		#section3 {
			font-family: 'Raleway', sans-serif;
			color: #244029;
			margin-left:125px;
			margin-right: 125px;
			

		}

		h1 {
			width:125px;
			padding-left: 10px;
			color: #470024;



		}

		h2 {
			color: #470024;
			border: 5px dotted #470024;
			width:150px;
			padding-left: 15px;
			padding-right: 15px;

		}

		

		.image {
			float: right;
			align-items: center;
		}

		.caption {
			aligh: margin-right;

		}

		ul {
			float: right
			padding-right: 10px;

		}

		#section4 {
			margin-left: 125px;
			margin-right: 125px;
			font-family: 'Raleway', sans-serif;
			color: #244029;


		}



		#references {
			margin-left: 125px;
		}

		.row {
  			display: flex;
		}

		.column {
  			flex: 50%;
		}



		























